html, body {
	min-width: 420px;
}

.contenitore {
    border: 1px solid black;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contenitore p {
    padding-top: 10px;
}

.intestazione {
    border: 1px solid red;
    text-align: center;
    margin: 20px 20px 5px 20px;
}

.intestazione > hr {
    width: 95%;
}

.citazioni {
    border: 1px solid green;
    margin: 5px 20px 5px 20px;
    word-wrap: break-word;
    height: 200px;
}

.tastiera {
    border: 1px solid blue;
    margin: 5px 20px 20px 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tastieraCol {
    flex-basis: 30%;
    /*border: 1px solid red;*/
}

.tastieraCol:nth-child(1) {
    text-align: left;
}

.tastieraCol:nth-child(2) {
    text-align: center;
}

.tastieraCol:nth-child(3) {
    text-align: right;
}

.tastieraCol > p {
    background-color: #4099ff;
    color: white;
    border: 1px solid #4099ff;
    border-radius: 10px;
    width: 78px;
    padding: 0 5px;
    text-align: center;
}

#nextCit {
    width: 100%;
    height: auto;
    background-color: #4099ff;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    cursor: pointer;
}

#shareTwitter {
    background-color: #4099ff;
    color: white;
    border: 1px solid #4099ff;
    border-radius: 10px;
    text-decoration: none;
    padding: 0 5px;
    width: 78px;
}

@media screen and (max-width: 600px) {
	.intestazione p:last-child {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.intestazione p {
		display: none;
	}
}
