* {
	box-sizing: border-box;
}

.contenitore {
	border: 1px solid black;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.intestazione {
	border: 1px solid red;
	text-align: center;
	flex: 1;
}

.citazioni {
	border: 1px solid green;
	flex: 1;
}

.tastiera {
	border: 1px solid blue;
	flex: 1;
}